header, footer {
    color:white;
    text-align:center;
    background-color:blueviolet;
}

footer{
    padding:5px;
}

header, main, footer {
    max-width: 800px;
    margin:0 auto;

}

ul li {
    font-size: 19px;
}

footer a{
    color:white;
}

main, footer {
    line-height: 1.5em;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 30px;
    padding: 13px;
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    border-bottom: 1px solid black;
    padding: 3px;
    max-width: 750px;
    font-size: 15px;
}

#picture{
    width: 160px;
    height: auto;
    margin-top: 10px;
}

.updated{
    color: yellow;
}