@media only screen and (min-width: 54.5em){
    #navigation a {
        text-align: center;
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
        /*grid-row: 1;
        grid-column: 2;*/
    }
    header div {
        font-size: 23px;
        /*grid-column: 2;
        grid-row: 1;*/
    }
    .logo {
        width: 120px;
        padding: 15px;
        justify-self: right;
        /*grid-row: 1;*/
        grid-column: 1/2;
    }
    main{
        max-width: 760px;
        margin: 0 auto;
    }
    h2{
        font-size: 30px;
    }
    main div {
        font-size: 19px;
        
    }
    .forecast p {
        grid-column: 1/6;
    }
    .forecast {
        grid-template-columns: repeat(5, auto);
    }
    .forecastimg {
        display: block;
        width: 75px;
        justify-self: center;
        align-self: center;
    }
    footer {
        font-size: 16px;
        max-width:760px;
    }
}