body{
    background-color: #f8f2f3;
}
main img {
    border-radius: 5px 5px;
    box-shadow: 0px 0px 15px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Delius', cursive;
}
p {
    font-family: 'Nanum Gothic', sans-serif;
}
main{
    max-width:960px;
    display: grid;
    grid-template-columns: 300px 1fr;
    margin:0 auto;
}
header {
    display:grid;
    grid-template-columns: repeat(2, auto);
    background-color: #fde5c4;
    margin: 0 auto;
}
.logo {
    width: 80px;
    padding: 15px;
    justify-self: right;
    grid-column: 1/2;
}
.banner{
    max-width: 850px;
    width:100%;
    grid-row:1;
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 0px;
}
h1 {
    font-size: 25px;
    margin-top: 1em;
    font-family: 'Delius', cursive;
}
header div {
    font-size: 17px;
    justify-self: left;
}
header div p {
    margin-top: -.5em;
}
nav {
    margin: 0 auto;
    max-width: 100%;
    background-color:#AFC0B2;
    font-family: 'Nanum Gothic', sans-serif;
}
nav ul {
    margin: 0 auto;
}
#navigation.responsive li {
    display: block;
}
#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#navigation a.active {
    background-color: #323630;
    color:white;
}
#navigation a:hover, #navigation a.active:hover {
    color: white;
    background-color: #323630;
}
.reserve{
    border-radius: 10px 10px;
    background-color:#323630;
    color: white;
    margin:5px;
    padding: 5px;
    text-align: center;
    grid-row:2;
    grid-column:1/3;
}
.reserve h3{
    font-weight:lighter;
    font-size:25px;
    line-height:1.5em;
}
.la {
    
    grid-column: 1/3;
    max-width:600px;
    width:95%;
    align-self: center;
    justify-self: center;
}
button{
    font-family: 'Nanum Gothic', sans-serif;
    padding:5px;
    margin-bottom:5px;
    font-weight:bold;
}
.la-info{
    grid-column: 1/3;
    text-align: center;
}
footer {
    background-color: #AFC0B2;
    color: #323630;
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
    font-size:15px;
    display:block;
    margin: 0 auto;
    padding:10px;
}
/*Medium View*/
@media only screen and (min-width: 34.5em){
    #navigation {
        grid-template-columns: repeat(5,auto);
    }
    #navigation li{
        display: block;
    }
    #navigation li:first-child{
        display: none;
    }
    #navigation a {
        text-align: center;
        font-size:17px;
    }
    .la {
        grid-column: 2/3;
        margin:5px;
    }
    .reserve{
        grid-column: 1/2;
        max-height: 200px;
        align-self: center;
    }
}
/*Large View*/
@media only screen and (min-width: 54.5em){
    #navigation a {
        font-size:20px;
    }
    .banner{
        justify-self: right;
        grid-column:2/3;
    }
    .reserve{
        grid-row: 1;
        grid-column: 1;
    }
    .la{
        grid-column: 1;
    }
    .la-info{
        grid-column: 2;
    }
}