body{
    background-color: #f8f2f3;
}
h1, h2, h3, h4, h5 {
    font-family: 'Delius', cursive;
}
p {
    font-family: 'Nanum Gothic', sans-serif;
}
header {
    display:grid;
    grid-template-columns: repeat(2, auto);
    background-color: #fde5c4;
    margin: 0 auto;
}
header a {
    justify-self: right;
    grid-column: 1/2;
}
header a img{
    width: 80px;
    padding: 15px;
}
h1 {
    font-size: 22px;
    margin-top: 1.2em;
    font-family: 'Delius', cursive;
}
header div {
    font-size: 15px;
    justify-self: left;
}
header div p {
    margin-top: -.5em;
    font-family: 'Delius', cursive;
}
nav {
    margin: 0 auto;
    max-width: 100%;
    background-color:#AFC0B2;
    font-family: 'Nanum Gothic', sans-serif;
}
nav ul {
    margin: 0 auto;
}
#navigation.responsive li {
    display: block;
}
#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#navigation a.active {
    background-color: #323630;
    color:white;
}
#navigation a:hover, #navigation a.active:hover {
    color: white;
    background-color: #323630;
}
section {
    background-color:#e7effa;
    border: 2px solid #323630;;
    border-radius:10px 10px;
    text-align: center;
    margin: 5px;
    padding:5px;
}
section h2{
    font-size: 20px;
}
section h3{
    font-size:18px;
    margin-bottom:-10px;
}
section p, section div p{
    font-size: 15px;
    line-height: 1.5em;
}
section img{
    width:100%;
    border-radius:5px 5px;
    box-shadow: 0 0 15px;
    /*height:300px;*/
}
#card1 p, #card2 p, #card3 p, #card4 p{
    margin:5px;
}
a {
    font-family: 'Nanum Gothic', sans-serif;
    color: #323630;
}
main h1{
    text-align: center;
}
footer {
    background-color: #AFC0B2;
    color: #323630;
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
    font-size:15px;
    display:block;
    margin: 0 auto;
    padding:10px;
}
.socials img{
    width:25px;
    padding:3px;
}
/*Medium View*/
@media only screen and (min-width: 34.5em){
    #navigation {
        grid-template-columns: repeat(5,auto);
    }
    #navigation li{
        display: block;
    }
    #navigation li:first-child{
        display: none;
    }
    #navigation a {
        text-align: center;
        font-size:17px;
    }
    header a img{
        width:90px;
    }
    h1{
        font-size:25px;
    }
    header div p{
        font-size:18px;
    }
    main {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    section{
        display:grid;
    }
    section h2{
        font-size: 22px;
    }
    section h3{
        font-size:19px;
        margin-bottom:-10px;
    }
    section p, section div p{
        font-size: 17px;
    }
    main h1{
        text-align: center;
        font-size: 30px;
        grid-column: 1/3;
    }
    section:nth-of-type(2), section:nth-of-type(1){
        grid-row: 2;
    }
    section:nth-of-type(3), section:nth-of-type(4){
        grid-row: 3;
    }
}
/*Large View*/
@media only screen and (min-width: 54.5em){
    #navigation a {
        font-size:20px;
    }
    header a img{
        width:100px;
    }
    h1{
        font-size:26px;
    }
    header div p{
        font-size:20px;
    }
    main{
        max-width:1060px;
        margin:0 auto;
    }
    section h2{
        font-size: 23px;
    }
    section h3{
        font-size:20px;
        margin-bottom:-10px;
    }
    section p, section div p{
        font-size: 18px;
        line-height: 1.5em;
    }
}