.maingrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(50,97,159,1) 10%,rgba(2, 206, 247, 0.33) 50%, rgba(255, 255, 255, 0) 80%);
}
.left{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 50px;
    justify-self: center;
}

.right{
    grid-column: 4/5;
    grid-row: 1/2;
    margin-top: 50px;
    justify-self: center;
}
.profile{
   grid-column: 1/5;
   grid-row: 1/5; 
   z-index: -1;
}

.bio{
    grid-column: 1/5;
    grid-row: 3/4;
    font-family: Arial;
    color: white;
    padding: 35px 35px;
}
.bio h1{
    font-size: 62px;
    margin: 0 auto;
}

.bio h1:nth-of-type(2){
    line-height: 60px;
}
.bio p {
    font-size: 27px;
}

.bio p:nth-of-type(2){
    line-height: 40px;
}
.maingrid img.pic1, .pic2, .pic3, .pic4{
    grid-row: 4/5;
    justify-self: center;
    width:115px;
    padding-bottom:30px;
}
.pic1{
    grid-column: 1/2;
}

.pic2{
    grid-column: 2/3;
    opacity: .5;
}

.pic3{
    grid-column: 3/4;
    opacity: .5;
}

.pic4{
    grid-column: 4/5;
    opacity: .5;
}