body{
    color: #242C2D;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #F6F4F4;
    text-align:center;
}
main{
    max-width: 360px;
    margin:0 auto;
}
#pancake{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #242C2D;
    background-color:#c4e1e89c;
}
#pancake img {
    padding-bottom:0em;
    margin-top: .5em;
    margin-bottom: -10px;
    width: 30px;
}
#pancake p {
    line-height:1.5em;
    padding: .5em;
    margin:0;
    font-size: 13px;
}
header {
    display:grid;
    grid-template-columns: repeat(2, auto);
    background-color: #fff7ee;
    margin: 0 auto;
}
header div {
    font-size: 17px;
    justify-self: left;
}
header div p {
    margin-top: -.5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo {
    width: 80px;
    padding: 15px;
    justify-self: right;
    grid-column: 1/2;
}
nav {
    margin: 0 auto;
    max-width: 100%;
    background-color:#C4E1E8;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #242C2D;
    font-size: 15px;
}
#navigation.responsive li {
    display: block;
}
#navigation a.active {
    background-color: #97D0D8;
    color:#242C2D;
}
#navigation a:hover, #navigation a.active:hover {
    color: #242C2D;
    background-color: #97D0D8;
}
nav ul {
    margin: 0 auto;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;

}
h4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: lighter;
}
.story{
    border: 1px solid black;
    border-radius:5px 5px;
    background-color: #fff7ee;
    margin-top: 10px;
    padding:10px;
}

.story p{
    line-height: 1.5em;
}

#towns-section{
    display:grid;
    grid-template-columns: 1fr;
}

#towns-section section {
    background-color: #ffc971e5;
    padding:20px;
    margin:10px;
    border-radius:15px;
}

#towns-section section:hover{
    box-shadow: 7px 7px 11px grey;

}

section img {
    width:100%;
    border-radius:5px;
    box-shadow: 2px 2px 15px black;
}

section h2 {
    font-size:30px;
    margin:0 auto;
    margin-bottom: -5px;
    text-shadow: 2px 2px #97D0D8;
    
}

section div p {
    font-style: italic;
    font-weight:bold;
}

.contact {
    line-height:1.5em;
    background-color:#C4E1E8;
}
.map {
    display:none;
    
}
.contactinfo{
    grid-column: 2;
    grid-row: 1;
}

.contactinfo h4 {
    font-weight:bold;
    font-size:20px;
    padding-top:10px;
}
.contactinfo h5 {
    font-size:15px;
    margin-bottom:0px;
}
.contactinfo p {
    font-size: 15px;
}

.contactinfo img{
    width:20px;
}
footer a {
    color: #DB8906;
}

.footer, .currentdate {
    background-color: #97D0D8;
    color: #242C2D;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align:center;
    font-size:13px;
    display:block;
    padding-top:5px;
    padding-bottom:3px;
    margin: 0 auto;
}
@media only screen and (min-width: 34.5em){
    main {
        max-width: 560px;
        margin:0 auto;
    }
    #pancake img {
        padding-bottom:0em;
        margin-top: .5em;
        margin-bottom: -10px;
        width: 40px;
    }
    #pancake p {
        line-height:1.5em;
        padding: .5em;
        margin:0;
        font-size: 14px;
    }
    header div {
        font-size: 20px;
        
    }
    .logo {
        width: 100px;
        padding: 15px;
        justify-self: right;
        grid-column: 1/2;
    }
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(6,auto);
        
    }
    #navigation a.active {
        background-color: #97D0D8;
        color:#242C2D;
    }
    #navigation li{
        display: block;
    }
    #navigation a {
        text-align: center;
        font-size: 15px;
    }
    #navigation li:first-child{
        display: none;
    }

    #towns-section section {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #towns-section section:nth-child(2) img {
        grid-column: 1;
        height:200px;
        
    }

    #towns-section section:nth-child(2) div {
        grid-column: 2;
        grid-row:1;
    }

    #towns-section section:nth-child(1) img {
        grid-column: 2;
        height:200px;
        
    }

    #towns-section section:nth-child(1) div {
        grid-column: 1;
        grid-row:1;
    }

    #towns-section section:nth-child(3) img {
        grid-column: 2;
        height:auto;
    }

    #towns-section section:nth-child(3) div {
        grid-column: 1;
        grid-row:1;
    }

    .map{
        display:block;
        grid-column: 1;
        grid-row: 1;
        padding: 10px;
        grid-column:1;
        grid-row: 1;
        width: 350px;
        justify-self: center;
        align-self: center;
    }
    .contact{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .contactinfo{
        grid-column: 2;
        grid-row:1;
    }


    .footer {
        font-size: 14px;
    }
}
@media only screen and (min-width: 54.5em){
    main {
        max-width: 860px;
        margin:0 auto;
    }
    
    #pancake img {
        padding-bottom:0em;
        margin-top: .5em;
        margin-bottom: -10px;
        width: 50px;
    }
    #pancake p {
        line-height:1.5em;
        padding: .5em;
        margin:0;
        font-size:15px;
    }
    header div {
        font-size: 23px;
    }
    .logo {
        width: 120px;
        padding: 15px;
        justify-self: right;
        grid-column: 1/2;
    }
    #navigation a {
        text-align: center;
        font-size: 20px;
    }

    #towns-section{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #towns-section section {
        display: grid;
        grid-template-columns: 1fr;
    }
    #towns-section section:nth-child(2) img {
        grid-column: 1;
        height:180px;
        
    }

    #towns-section section:nth-child(2) div {
        grid-column: 1;
        
    }

    #towns-section section:nth-child(1) img {
        grid-column: 1;
        height:180px;
        
    }

    #towns-section section:nth-child(1) div {
        grid-column: 1;
       
    }

    #towns-section section:nth-child(3) img {
        grid-column: 1;
        height:180px;
    }

    #towns-section section:nth-child(3) div {
        grid-column: 1;
        
    }


    #towns-section section:nth-of-type(2) h4:nth-of-type(1){
        margin-top: 37px;
    }
 
    section img {
        height: 180px;
    }

    .map{
        width:400px;
    }

    .footer {
        font-size: 16px;
        max-width:none;
    }
}